#!/bin/zsh
# ls
alias l='ls -lh --color --group-directories-first'
alias la='ls -lah --color --group-directories-first'
alias ls='ls --color'

# clear
alias cl='clear'

# git
alias gs='git status'
alias ga='git add'
alias gc='git commit -m'
alias gp='git push'
